# Installing Python
Download Anaconda (suggested) as it gives great packages to work with.
However one can download Python IDLE for Python Programming and download other packages with pip / !pip install
Make sure to give it a path and download with a proper location to avoid searching for the python IDLE

# Getting started

In [1]:
print('let\'s study python')     # print function in python is fairly easy just type print('text')  \'s is used in let's to get the complete words

let's study python

In [2]:
print('let's')   # see it gives an error.

SyntaxError: invalid syntax (<ipython-input-2-dd169df23a41>, line 1)

In [ ]:
# variables : var_name = variables helps in creating change whenever required just append the input in the variable

In [ ]:
what_is_your_favorite_color = 'my favorite color is blue.'
what_is_your_major = 'my major is art.'
what_is_name = 'my name is anita.'

In [ ]:
print("color " + what_is_your_favorite_color)

In [ ]:
#we can also store numbers

In [ ]:
numbers = 1,2,3,3.5

In [ ]:
numbers   # numbers as integers

In [ ]:
what_is_your_age = '23'  # numbers as strings

In [ ]:
print('my age is ' + what_is_your_age)

In [ ]:
# Variables with a little complexity:
a = 15
b = a   # b stores the value of a
print(a)
print(b)

In [ ]:
a = 20
b = 34
c = a
b = c
print(a)
print(b)
print(c)   # every value is same as a = 20, c = a here c takes value of a, now b = c but c already has taken the value of a 
               #thus b takes the value of c which is a thus it returns 20.

In [ ]:
a = 'abc'
b = 'xyz'
c = b
print(c)  # c takes the value b

In [ ]:
# this one is a little complex but understand using different entries and you will get the hang of it.

In [ ]:
# Strings:

In [ ]:
print("text is a string")   # add \n for new line, \t for new tab. for more info on str use help(str)

In [ ]:
#eg:
print("string\nis\nawesome")

In [3]:
variable_str = 'new string'   # we can get the variable without using print function.
variable_str

'new string'

In [4]:
# string and concatenation: only strings can be concatenated any other variable cannot be added, it will generate an error.
new_var_str = 'strings are awesome'
new_var_str

'strings are awesome'

In [5]:
print(new_var_str + ' and fun')   # adding another text is easy.

strings are awesome and fun

In [6]:
print(new_var_str.upper())  # for uppercase letters

STRINGS ARE AWESOME

In [7]:
print(new_var_str.lower().islower())   # Boolean function for getting true or false value, if the answer is true the input exists, if not the result will be false.

True

In [8]:
print(new_var_str.upper().islower()) # as .upper() coverts the text into uppercase we don't have any lower text left thus we get false

False

In [9]:
# for getting the len:  # number of char in the text
print(len(new_var_str))

19

In [10]:
# to concatenate two variables:
variable_str + new_var_str

'new stringstrings are awesome'

In [11]:
(variable_str + " " + new_var_str)  # for space between letters  add + " " +

'new string strings are awesome'

In [12]:
print(new_var_str[0])   # first value in the text

s

In [13]:
# in python indexes start with 0 so first value is 0 and the second value is 1 and so on.

In [14]:
# Index: stores the value at a specific location

In [15]:
print(new_var_str.index("s"))   # s is stored at the 0 index value.

0

In [16]:
print(new_var_str.index('are'))   # are starts with the index num 8

8

In [17]:
# If a non- existent value is used in the .index(" ") it will result in an error

In [18]:
print(new_var_str.replace("strings", "Indexes"))   # replaces the values mentioned in the parentheses ()

Indexes are awesome

In [19]:
# Numbers

In [20]:
print(12)

12

In [21]:
type(12)   # 12 is integer value  #type() gets the class type of the given information.

int

In [22]:
print(3.4)  #decimal

3.4

In [23]:
type(3.4)    # float is for decimal numbers

float

In [24]:
print(3//4)   # removes decimal and prints only the integer value

0

In [25]:
# Arithmetic problems can also be done with Numbers: +, - , %, *, /, //

In [26]:
2 + 4    # addition

6

In [27]:
3 * 2    # multiplication

6

In [28]:
3 ** 2   # power values, here we have teh square value

9

In [29]:
3 ** 3    # cube value

27

In [30]:
2 % 4   # mod, gives the remainder

2

In [31]:
3 / 6  # division

0.5

In [32]:
3 // 6 # removes the float value

0

In [33]:
# negative nunmbers:
-56

-56

In [34]:
57 - 12  # subtraction

45

In [35]:
# a little complex ones:
(3 * 4 + 5)  # first pyhton will multiply 3 and 4  and then  add 5 to it.

17

In [36]:
# if we put the parentheses will can use the order of operation:
(3 * (4 + 5))  # here python first adds the value in the parentheses and then multiples with the value outside Paratheses

27

In [37]:
# we can store numbers in any of the variables:
var_num = 123
var_num

123

In [38]:
# numbers and strings:
nums = 23, 67
print(nums)

(23, 67)

In [39]:
#converting number into strings
str(23)

'23'

In [40]:
# converting string value into integer
int(23)

23

In [41]:
# Python does not allows us to use str and int in concatenation, int with int and str with str, we cannot mix these together.

In [42]:
num = -34
print(abs(num))  # absolute value of the given number

34

In [43]:
# other ways of getting power values:
print(pow(3, 2))  # similar to 3 ** 2 i.e 3 ^ 2

9

In [44]:
print(max(17, 80))  # gives the highest value

80

In [45]:
print(min(0, 14))   # gives the minimum value

0

In [46]:
print(round(17.345)) # gives the round figure values

17

In [47]:
# to get different function available in math we can use:
from math import*

In [48]:
print(floor(14.423))  # returns the lowest num

14

In [49]:
print(ceil(45.67))  # rounds the num up without any boundaries of decimal

46

In [50]:
print(sqrt(9))  # 9 is square root is 3

3.0

In [51]:
# Getting The Input From User:
value = (input("Enter the value: "))
print(" The value is " + " " + "it is an integer.")

Enter the value: 354
 The value is  it is an integer.

In [52]:
# input function used for multiple storage of values to:
my_name = (input("Enter the name: "))
my_major = (input("Enter the major: "))
my_age = (input("Enter the age: "))
print("Hello, " + my_name + " You have enrolled for " + my_major + " your age is " + my_age)

Enter the name: Nia
Enter the major: History
Enter the age: 23
Hello, Nia You have enrolled for History your age is 23

In [53]:
# Exercise:
# Building a Calculator:
num1 = input("Enter number1: ")       # takes number as input
num2 = input("Enter number2: ")
result = int(num1) + int(num2)        # int function is important otherwise the number will be treated as a string

print(result)

Enter number1: 233
Enter number2: 12
245

In [54]:
# for decimal numbers use float:
number1 = input("Enter number1: ")
number2 = input("Enter number2: ")
result = float(number1) + float(number2)   #float function

print(result)       # the will be in float value

Enter number1: 23
Enter number2: 12
35.0

In [55]:
# Building a complex calculator in Python:
num1 = float(input("Enter the first number: "))
operator = input("Enter Operator: ")
num2 = float(input("Enter the second number: "))

if operator == "+":
    print(num1 + num2)
elif operator == "-":
    print(num1 - num2)     # we will learn about the if / elif / else statement ahead
elif operator == "*":
    print(num1 * num2)    # similarly we build more complex structures to the calculator.
elif operator == "/":
    print(num1 / num2)
else:
    print("Invalid Entry")

Enter the first number: 6
Enter Operator: *
Enter the second number: 2
12.0

In [56]:
# Creating a MADLIBS in Python:
phrase = input('Enter Phrase: ')
ajective = input('Enter an adjective: ')
name = input('Enter the name: ')


print("Hello"+ phrase)                            # Any sort of input will work, have fun with what you make.
print(" you tell me your name," + ajective)
print("But, don't know " + name)

Enter Phrase: Hello
Enter an adjective: Beautiful
Enter the name: Jim
HelloHello
 you tell me your name,Beautiful
But, don't know Jim

# Lists:
Stores values, descriptive name should be given to particular lists, lists are mutable.(values can be added or even removed
# list can have strings, integers, index as stored values.

mutable = changes can be made to the original list.
immutable = changes cannot be made to the original list.

In [57]:
grocery = ['rice', 'veggies', 'fruits', 'milk']
grocery

['rice', 'veggies', 'fruits', 'milk']

In [58]:
# index inputs;
grocery[0]     #gives us the first value.

'rice'

In [59]:
grocery[0:3]    # gives us the values ranging from 0 to 2 [n:n-1] #This is also called SLICING

['rice', 'veggies', 'fruits']

In [60]:
# negative numbers in slicing:
grocery[-1:]    # gives the last element

['milk']

In [61]:
#positive slicing : [0,1,2,3,4]   #see the pattern of the numbers as the index value , here [0] is the first element 
#negative slicing : [-5,-4,-3,-2,-1]  #here [-5] is the first element.
# practice using list with different index numbers and slicing, it will become easier with practice.

In [62]:
# modifying lists:
grocery[3] = 'cereal'  #milk is replaced with cereal
print(grocery[3])
print(grocery)

cereal
['rice', 'veggies', 'fruits', 'cereal']

In [63]:
# Lists Functions:
#for further details:
#use help(list)

In [64]:
costs_of_grocery = ['120', '342', '455', '566'] 
costs_of_grocery                          #thus just random inputs

['120', '342', '455', '566']

In [65]:
grocery.extend(costs_of_grocery)    # both the lists are combined
print(grocery)

['rice', 'veggies', 'fruits', 'cereal', '120', '342', '455', '566']

In [66]:
grocery.append('milk')    # adds the valus to the list, append function adds values to the list
grocery

['rice', 'veggies', 'fruits', 'cereal', '120', '342', '455', '566', 'milk']

In [67]:
# to add value between the lists:
grocery.insert(3, 'butter')
grocery

['rice',
 'veggies',
 'fruits',
 'butter',
 'cereal',
 '120',
 '342',
 '455',
 '566',
 'milk']

In [68]:
#to remove elements:
grocery.remove('veggies')
grocery

['rice', 'fruits', 'butter', 'cereal', '120', '342', '455', '566', 'milk']

In [69]:
# to clear the entire list use:
grocery.clear()
grocery    # since the list has been cleared the result is empty

[]

In [70]:
# we use [] to store list elements
# there are bunch of other lists too to use such as pop, index(" ") to get the index value, counting similar entries etc.
# sorting is also possible: grocery.sort() will result in alphabetcical order.
# reversing list is also possible : grocery.reverse()
# copying the list: grocery.copy()
# these just some basic examples. Explore more functions and their uses with practice.

In [71]:
# Tuple:
# these are immutable, changes cannot be made to a tuple, tuples stores values with parenthese

In [72]:
tuple_value = (2, 4, 5, 6)
tuple_value

(2, 4, 5, 6)

In [73]:
print(tuple_value[2])  #index values

5

In [74]:
# we can create a list of tuple:
tuple_list = [(2, 4), (3,9), (4, 16)] 
tuple_list[1] = (5, 25)
tuple_list         #since we are use tuple list making changes are possible

[(2, 4), (5, 25), (4, 16)]

In [75]:
# Functions:
# collections of code that does a specific task.

In [76]:
def greetings():
    print("Hello!")
greetings()

Hello!

In [77]:
# def with parameters, parameters values inside the parentheses:
def greetings(name):
    print("Hello " + name)

In [78]:
print(greetings("Garcia"))

Hello Garcia
None

In [79]:
def greetings(name, age):    
    print("Hello! " + name + ", you are " + str(age))  # include spaces for well space between the words

In [80]:
greetings("Hailey ", 23)

Hello! Hailey , you are 23

In [81]:
# Return Statement in python function:
# allows python to return information from a function.
# after using return in code, value given below it will not be printed

In [82]:
def cube_root(num):    # returns the value of the call.
    return num*num*num

In [83]:
print(cube_root(3))

27

In [84]:
# eg:
def square_root(num):
    return num*num
    print("this is the square root")   # see the text is not printed.

In [85]:
square_root(2)

4

In [86]:
# using if statements:
# helps with decisions in the code.
# conditions are dealt too. True / False
# helps with execution of value being present in the code or not. True / False

In [87]:
def max_num(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3

In [88]:
max_num(3, 6, 9)      # else is printed as num3 is the largest, it is just for comparing the nums

9

In [89]:
# different operators can be used such as == equal to, >= greater than or equal to, != not equal to, <= less than or equal to,
# greater than >, less than < .

In [90]:
if True:
    print("I'm right")

I'm right

In [91]:
if False:
    print("I'right")
print("I'm wrong")   # due to the indentation in the code we get the value of False

I'm wrong

In [92]:
# Indentation: 
# Spaces in the code, due to these spaces we come to know whether code belongs to the statement or not.
# Generally in python we use 4 spaces or simply use tab. 
# Don't mess with the indentation or you will get an error.

In [93]:
a = 16
r = a % 2  # remainder

if r == 0:    # getting the even value
    print("Even")

Even

In [94]:
b = 7
o = b % 2

if o == 1:     # getting the odd value
    print("odd")

odd

In [95]:
c = 5
r = c % 2
if r==0:
    print("Even number:", c)  # gets the even number
    
if(r==1):
    print("Odd number:", c)    # gets the odd number

Odd number: 5

In [96]:
# the efficient way to write this code is:
d = 15
r = d % 2

if(r==0):
    print("The Even number is:", d)
else:
    print("The Odd number is:", d)

The Odd number is: 15

In [97]:
# Using Nested If
# If need the If:
a = 20
r = a % 2

if(r==0):
    print("Number is Even:", a)
    if a>23:
        print("Number is Greater:", a)   # since the number is less than 20 this statement is not printed
    else:
        print("No it is not", a)

else:
    print("Number is Odd:", a)

Number is Even: 20
No it is not 20

In [98]:
# Using Elif == if and else together.
# eg:
t = 2
if t==1:
    print("one")
elif t==2:
        print("Two")
else:
    print("There no valid entry for the given input")

Two

In [99]:
# Dictionaries:
# they have a key value pairs
# useful for pulling out the information with key value.

In [100]:
# months:

converting_months = {
    "Jan": "January",
    "Feb": "February",
    "Mar": "March",
    "Apr": "April",
    "May": "May",
    "Jun": "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "NOv": "November",
    "Dec": "December"
}

print(converting_months["Dec"])

December

In [101]:
converting_months.get("Jul")   # .get is useful for getting a specified value.

'July'

In [102]:
# .get also helps use to get a result with invalid entry:
converting_months.get('Monday', 'Not a valid entry')

'Not a valid entry'

In [104]:
# number can be used as well:
# eg:
Days_of_the_week = {
    0: "Monday",
    1: "Tuesday",
    2: "Wednesday",
    3: "Thursday",
    4: "Friday",
    5: "Saturday",
    6: "Sunday"
}

print(Days_of_the_week[3])

Thursday

In [ ]:
# While Loop:
# loops through the specific lines of code.
# runs in loops until a spcified value is false.
# for loops are useful for iteration, going over values in the string , list etc.

In [105]:
abc = 1
while abc <= 5:
    print(abc)
    abc += 1    # abc = abc + 1, abc will keep on adding until it reaches the value of 6, as 6 is greater than 5 
    
print("Finish")

1
2
3
4
5
Finish

In [ ]:
# For loop:
# loops over a different arrays, items, letters, numbers etc.

In [106]:
word = "This is a python Tutorial."
for i in word:
    print(i)   # In for i , the i can be anything any name just should be different to the string, list value.

T
h
i
s

i
s

a

p
y
t
h
o
n

T
u
t
o
r
i
a
l
.

In [107]:
# printing out values:
fruits = ['Strawberry', 'Mango', 'Apple', 'Grape']
for fruit in fruits:
    print(fruit)

Strawberry
Mango
Apple
Grape

In [109]:
print(len(fruits))  # length of the entries

4

In [110]:
# getting numbers:
for num in range(5):
    print(num)     #range == range of the numbers, we will use range to get the length of the required value.

0
1
2
3
4

In [111]:
for number in range(len(fruits)):
    print(fruits[number])
    fruits[3]

Strawberry
Mango
Apple
Grape

In [113]:
for numbers in range(10):
    if numbers == 0:
        print("First Iteration of the loop: ")
    else:
        print("It is not valid:")     # runs till the final value of 10 is hit. # stops at 9 as 9 is the 10th value.

First Iteration of the loop:
It is not valid:
It is not valid:
It is not valid:
It is not valid:
It is not valid:
It is not valid:
It is not valid:
It is not valid:
It is not valid:

In [114]:
for num in range(10):
    print(num)     # This is why 9 is the final value .

0
1
2
3
4
5
6
7
8
9

In [115]:
# Exponent Functions:
# taking a number and raising to its power.
# eg. 
print(2 ** 3)

8

In [125]:
def power(base_num, power_num):
    result = 1
    for number in range(power_num):   # for specified power
        result = result * base_num
    return result

In [126]:
print(power(3, 3))

27

In [128]:
# 2dimensional list:   # sort of like Matrix, consists rows and columns.
d_lists = [
    [1, 3, 6],
    [7, 8, 3],
    [3, 6, 2],
    [1, 2, 3]
]

In [132]:
print(d_lists[1][1])

8

In [134]:
for columns in d_lists:
    for rows in columns:
        print(rows)     # gives all the values from the ABOVE Matrix

1
3
6
7
8
3
3
6
2
1
2
3

In [ ]:
# Comments:
# To give the information to others reading the code.
# use hashtag to state a comment 
''' this is another way of using comment'''
# But use hashtags just for efficiency and It is widely used.
# to comment out codes use  -> # print("Commented out") this make the code as comment of outted code.

In [ ]:
# Try Except:
# Try block lets us to test/. the code for error,  Except handles the error in that code.

In [136]:
try:
    num_value = int(input("Enter a number: "))
    print(num_value)
except:
    print("Invalid number")   # since the value is float value the result is Invalid number

Enter a number: 23.56
Invalid number

In [ ]:
# Reading files outside python:
open('corpus.txt', 'r') # for just reading the file
# similarly 'w' for writing, 'a' for making append, 'r+' is for reading and writing

In [137]:
corpus = open('corpus.txt', 'r')

In [138]:
print(corpus.readable())   # Checks whether the file is readble

True

In [139]:
print(corpus.readline())  # reads newline each time it is ran , First sent from the text

"Hey, how are you?

In [141]:
print(corpus.readlines()[3])      # to access any line in the file, returns the value of 2 sent from the text

yeah! really, okay, maybe later.

In [148]:
for corpus in corpus.readlines():   # it shows an error as the file has been closed to access the file open it once again.
    print(corpus)

ValueError: I/O operation on closed file.

In [145]:
corpus.close()  # to close the file   # closes the corpus

In [152]:
#Writing and Appending the text file:
corpus = open("corpus.txt", "a")
print(corpus.readable())

False

In [153]:
corpus.close()

In [155]:
#Appending the text file:
corpus = open("corpus.txt", "a")
corpus.write("Mumbai")
corpus.close()     # Adds Mumbai to the file

In [158]:
corpus = open("corpus.txt", "a")
corpus.write("\nPune")    # adds Pune to the list on the new line.
corpus.close()

In [ ]:
#overwriting the file

In [159]:
corpus = open("corpus.txt", "w")
corpus.write("\Pune")
corpus.close()

In [ ]:
# Modules  and  pip:

In [ ]:
# pip downloading a any pacKage#

In [ ]:
# Class and Objects:
# Class is the design of the object,

In [166]:
class begin:
    def configure(self):
        print("start, text, finish")#  Attributes -> Variables, # Behaviour -> Methods.
        
a = 'sent'
print(type(a))

beg = begin()

print(type(beg))

<class 'str'>
<class '__main__.begin'>

In [167]:
class begin:
    def configure(self):
        print("start, text, finish")#  Attributes -> Variables, # Behaviour -> Methods.
        

beg = begin()

begin.configure(beg)       # passing beg through configure

start, text, finish

In [ ]:
# Data Types:
# lists, Range, string, tuple, set, dictionary, none, numeric.  # we used some of these above but here are some more examples.

In [ ]:
# Numeric: int, float, complex, bool == boolean(True / False)

In [168]:
num = 34
type(num)

int

In [174]:
num = 23+12j
type(num)  # j is a complex number as the value of i is imaginary

complex

In [175]:
num = 45.7
type(num)

float

In [176]:
# converting float value in int
a = 12

In [177]:
b = float(a)
type(b)

float

In [178]:
boolean = b < a
type(boolean)

bool

In [179]:
# Sequence : list, string, tuple, set, range.

In [180]:
list_num = [23, 45, 67, 78]
type(list_num)

list

In [181]:
set_num = {22, 34, 56, 45}
type(set_num)

set

In [182]:
string = "hello numbers"
type(string)

str

In [185]:
tuple_num = (12, 33, 56, 78)
type(tuple_num)

tuple

In [186]:
range(5)

range(0, 5)

In [187]:
list(range(5))

[0, 1, 2, 3, 4]

In [188]:
list(range(2, 10, 2)) # even numbers between 2 to 10

[2, 4, 6, 8]

In [189]:
# odd number in range
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [ ]:
# Dictionaries:
# keys must be unique, curly brackets are used.

In [190]:
dictionary = {'name': 'num', 'address': 'phone_num', 'mail': 'skype_id'}

In [191]:
dictionary.keys()

dict_keys(['name', 'address', 'mail'])

In [192]:
dictionary.values()

dict_values(['num', 'phone_num', 'skype_id'])

In [193]:
dictionary['address']  # to get the value

'phone_num'

In [194]:
dictionary.get('mail')   # to get the value

'skype_id'

In [ ]:
# We will stop here, I will definitely include a part 2 of this soon.